.button-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 250px;
    padding: .9em 2em;
    border: none;
    border-radius: 5px;
    background-color: #2589d0;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

.button-2:hover {
    background-color: #1579c0;
}