.button {
    background-color: rgb(239, 191, 79);
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    font-family: monospace;
    color: white;
    padding: 20px;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
}

.button2 {
    background-color: blue;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
    color: white;
    padding: 20px;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
}